# Node.js folders and files
node_modules

# Development tools
.vscode
.idea

# System files
.DS_Store

IgnoreFiles/rpg-character-builder - Week 5.zip
IgnoreFiles/rpg-character-builder_week-4.zip
IgnoreFiles/rpg-character-builder-week-6.zip
IgnoreFiles/rpg-character-builder-week7.zip
IgnoreFiles/rpg-character-builder.zip
IgnoreFiles/web-425-master.zip
data-files/rpg-character-builder/rpg-character-builder-week8.zip
